* {
  box-sizing: border-box;
}

html,
::before,
::after {
  box-sizing: inherit;
}

ul,
h1,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.app-wrapper {
  display: flex;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 25rem;
}

form textarea,
input[type="text"] {
  width: 100%;
}

form textarea {
  height: 200px;
}
